@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;800;900&display=swap');
* {
    padding: 0;
    margin: 0;
    
    font-family: 'Poppins', sans-serif;
    color: #e4e4ec;

    }
html{
    width: 100%;
    height: auto;
}
video{
    position: relative;
    top:0;
    left:0;
    width:100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    object-fit: cover;
    opacity: 1;
}


header
{
  position: absolute;
  top: 0;
  left: 0;
  width: 85%;
  padding: 40px 100px 40px;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #00000000;
  
}

header nav{
    padding-left: 10%;
}

h1, h2, h3{
    /* background-color: black; */
    
}
.overlay{
    position:absolute;
    top:0;
    left:0;
    z-index:1;
    padding:40px 100px;
    text-align: left;
    margin-top: 15%; 
    overflow: hidden;
}

.overlay h2,h3 {background-color: #00000000;}

h3{
    font-size: 5em;
  font-weight: 700;
  color: #fff;
  line-height: 1em;
  text-transform: uppercase;
}


.container { position:relative; }
.container video {
    position:relative;
    z-index:0;
}

.page-footer{
    background-color: black;
    /* height: 120px;
    min-width: 120px;  */
    padding-bottom: 10px;
    text-shadow: #000 0 0 .2em;
    justify-content: center;
    align-content: center;
}


body {
    /* background-color:#86a1be ;     */
}

ul {
    background-color:transparent;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
    text-align:center; 
    position: relative; 
    display: inline-block;
}

li {
    float : left;
}
li a {
    display:block;
    
    text-align:center;
    padding: 14px 16px;
    text-decoration: none;
}
li a:hover:not(.active) {
    background-color:#112a46;
}
.active {
    background-color: #253e5a;
    
}
.sticky { 
	position: -webkit-sticky; 
	position: sticky;
    top: 0; }

/* .container {
    display: flex;
    width: 100%;
    padding-bottom: 100px;
}

.text-container {
    padding-left: 150px;
    
    width: 50%;
    
}

p {
   
    font-size:17px;
    

}

#profile{
    display: flex;
    padding-top: 5%;
    padding-bottom: 5%;
}

#profileTxt{
    display: flex;
    flex-direction: column;
    padding-left:15%;
}

#hello{

}

#name{

}

#nameFooter{

}

#profile img{
    border-radius: 10%;
    width: 40%;
}